.button {
  align-self: flex-end;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  background-color: #de1f1f;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #9d0808;
}
