.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  margin-top: 16px;
}

.title {
  margin-bottom: 10px;
  font-size: 16px;
}

.form {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.3s ease;
}

.input:focus {
  border-color: #5048e9;
}

.button {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  background-color: #5048e9;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #382dae;
}

.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
